
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-bar w3-black w3-card">
  <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)"
     onclick="myFunction()" title="Toggle Navigation Menu">
    <i class="fa fa-bars"></i>
  </a>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button">{{'applicant' | translate}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button" routerLink="view-applicant">{{'viewApplicant' | translate}}</a>
      <a class="w3-bar-item w3-button"
         routerLink='create-applicant/:id'>{{'createApplicant' | translate}}</a>
    </div>
  </div>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button">{{'vacancy' | translate}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button" routerLink="view-vacancy">{{'viewVacancy' | translate}}</a>
      <a class="dropdown-item drop" routerLink="create-vacancy">{{'createVacancy' | translate}}</a>
    </div>
  </div>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button">{{'review' | translate}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button" routerLink="/interviewer/review-applicant">{{'reviewApplicant'|translate}}</a>
      <a class="dropdown-item drop"
         routerLink="/interviewer/view-review-applicant">{{'viewReviewApplicant' | translate}}</a>
    </div>
  </div>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button"> {{'recruitment' | translate}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button" routerLink="recruitment/manpower-request-manager">Manpower request list by
        manager
      </a>
      <a class="dropdown-item drop" routerLink="recruitment/applicant-approval">Applicant approval</a>
    </div>
  </div>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-padding-large w3-button"> {{'system' | translate}}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a class="w3-bar-item w3-button" routerLink="system/changed-password">{{'changePass' | translate}}</a>
      <a class="dropdown-item drop" routerLink="system/profile">{{'profile' | translate}}</a>
    </div>
  </div>
</div>
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{'applicant' | translate}}</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{'vacancy' | translate}}</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{'Review' | translate}}</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{'recruitment' | translate}}</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">{{'system' | translate}}</a>
</div>
<script>


  // Used to toggle the menu on small screens when clicking on the menu button
  function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
      x.className += " w3-show";
    } else {
      x.className = x.className.replace(" w3-show", "");
    }
  }
</script>
