<div class="container">
  <form [formGroup]="myForm">
    <table class="tableCreateApplicant">
      <tr>
        <td class="td1">
          <div class="form-group">
            <label>{{'idVacancy' | translate}}</label>
            <p>{{vacacyNumber}}</p>
          </div>

          <div class="form-group">
            <label>{{'candidateName' | translate}}</label>
            <input type="text" class="form-control" formControlname="applicantVacancyName"
                   placeholder="Enter name applicant">
            <div *ngIf="applicantVacancyName.invalid && (applicantVacancyName.dirty || applicantVacancyName.touched)"
                 class="alert alert-danger">
              <div *ngIf="applicantVacancyName.errors.required">Name applicant required</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'emailApplicant' | translate}}</label>
            <input type="text" class="form-control" formControlname="emailApplicant"
                   placeholder="Enter emailApplicant for you" emailApplicant="true">
            <div *ngIf="emailApplicant.invalid && (emailApplicant.dirty || emailApplicant.touched)"
                 class="alert alert-danger">
              <div *ngIf="id.errors.required">emailApplicant required</div>
              <div *ngIf="emailApplicant.errors.emailApplicant"> {{'usernamemailApplicant' | translate}}</div>
            </div>
          </div>


          <div class="form-group">
            <label>{{'dateOnApplicantVacancy' | translate}}</label>
            <input type="date" class="form-control" formControlname="dateOnApplicantVacancy"
                   placeholder="Enter date of applicant">
            <div
              *ngIf="dateOnApplicantVacancy.invalid && (dateOnApplicantVacancy.dirty || dateOnApplicantVacancy.touched)"
              class="alert alert-danger">
              <div *ngIf="dateOnApplicantVacancy.errors.required">Date Of Applicant required</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'dateOfTheScheduleInterview' | translate}}</label>
            <input type="date" class="form-control" formControlname="dateOfTheScheduleInterview"
                   placeholder="Enter date scheduled">
            <div
              *ngIf="dateOfTheScheduleInterview.invalid && (dateOfTheScheduleInterview.dirty || dateOfTheScheduleInterview.touched)"
              class="alert alert-danger">
              <div *ngIf="dateOfTheScheduleInterview.errors.required">Date Scheduled required</div>
            </div>
          </div>
        </td>
        <td>

          <div class="form-group">
            <label>{{'status' | translate}}</label> <select class="form-control" formControlname="status">
            <option value="notinProcess">Notin process</option>
            <option value="inprocess">Inprocess</option>
            <option value="hired">Hired</option>
            <option value="banned">Banned</option>
          </select>
            <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger">
              <div *ngIf="status.errors.required">Status required</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'startTime' | translate}}</label>
            <input type="time" class="form-control" formControlname="start" placeholder="Enter time start">
            <div *ngIf="startTime.invalid && (startTime.dirty || startTime.touched)" class="alert alert-danger">
              <div *ngIf="startTime.errors.required">Start time required</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'endTime' | translate}}</label>
            <input type="time" class="form-control" formControlname="end" placeholder="Enter time end">
            <div *ngIf="endTime.invalid && (endTime.dirty || endTime.touched)" class="alert alert-danger">
              <div *ngIf="endTime.errors.required"> End time required</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{'listIdUser' | translate}} </label>
            <select name="listIdUser" multiple class="form-control" formControlname="listIdUser">
              <option value="ST">State</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
          </div>
        </td>
      </tr>
    </table>
    <button class="btnSave" (click)="onsubmit()"><i class="fa fa-save"></i> {{'save' | translate}}</button>
  </form>
</div>

